@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,
body {
  color: #222;
}

.about-me-text {
  font-size: 24px;
  font-weight: 300;
}
/*--- Carousel --*/
.carousel-img {
  width: auto; /* Set desired width */
  height: 800px; /* Set desired height */
  max-height: 800px;
  object-fit: contain; /* Possible values: cover, fill, contain, etc. */
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.carousel-inner {
  position: relative;
}

/*--- Contact/Bottom --*/
.caption-bottom {
  bottom: 0;
}

.contact_info_content {
  text-align: center;
}

/*--- Contact/form --*/
form-label {
  text-align: left;
}

/*--- Links --*/
#climb {
  top: 0;
  bottom: auto; 
  color: white;
}

#happy {
  top: 0;
  bottom: auto; 
  color: white;
}

#comfort {
  top: 0;
  bottom: auto; 
  color: grey;
}

#list {
  display: inline-block;
  vertical-align: center;
}

#list2 {
  display: inline-block;
  vertical-align: center;
}

#header, #container {
  display: flex;
}

#navbarResponsive {
  justify-content: right;
}

/*--- Headers --*/
.welcome {
  width: 90%;
  background-color:rgb(247, 235, 247);
}

.welcome hr {
  width: 90%;
}

/*--- Nav Bar --*/
.nav-container {
  display: flex;
  background-color:rgb(247, 235, 247);
}

.navbar-brand {
  font-size: 30px;
}

.navbar-text {
  font-size: 20px;
}

.nav-link {
  font-size: 1.1rem !important;
}

/*--- Project cards --*/
.projects.card {


}


.projects.card-header { 
  width: 100%;
  object-fit: cover;
}

.projects-images {

  /* width: 100%;
  display: block;
  margin:auto;*/
  object-fit: contain; 

}

.projects-img-fluid {

}

.projects.card-body {
  display: flex;
  flex-direction: column;
}

.projects.card-footer {
  margin-top: auto;
  display:flex;
  justify-content:center;
  align-items: center;
  background:none;
}

/*---Media Queries --*/
@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .carousel-caption {
    transform: translateY(-80%);
  }
  .carousel-caption h1 {
    font-size: 4rem;
    font-weight: bold;
  }
  .welcome .display-4 {
    font-size: 3rem;
  }
  .social a i {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  .social a i {
    font-size: 1.75rem;
  }
}

@media (max-width: 480px) {
  .carousel-caption {
    left: 5%;
    right: 5%;
  }
  .carousel-caption h1 {
    font-size: 3rem;
  }
  .welcome {
    width: 100%;
  }
  footer h4 {
    display: inline-block;
    width: 60%;
  }
  footer h4.border-top {
    border-top: 0 !important;
  }
}

@media (max-width: 400px) {
  .carousel-caption {
    transform: translateY(-20%);
    left: 1%;
    right: 1%;
  }
  .welcome .display-4 {
    font-size: 2.5rem;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1%;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


/*-- Flip widget card --*/
.image-flip-hover .backside, .image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  }
  
  .image-flip-hover .frontside, .image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  }
  
  .image-flip {
  width: 350px;
  height: 700px;
  }
  
  .mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;

  }
  
  .frontside, .backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  }
  
  .frontside {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  }
  
  .backside {
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  }

  /* .card {
    height: 700px !important;
  } */
  
  .front.card {
  border: none;
  height: 700px;
}

.back.card {
  height:700px;

}
  .card-img-top {
  border-radius: 0;
  
  }

/* <!--- button --> */
.button1, .button2 {
  padding: 0.9em 1.8em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  color: transparent;
  border: 1px solid black;
  font-size: 18px;
  position: relative;
  font-family: inherit;
  background: transparent;
  font-weight: 500;
}

.button1::before,
.button2::before {
  content: attr(data-button-name);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(247, 235, 247);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1.5s;
}

.button1:hover::before,
.button2:hover::before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}

.button1::after,
.button2::after {
  content: attr(data-button-name);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(247, 235, 247);
  color: Black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1.5s;
  transform: scale(0) rotateY(0deg);
  opacity: 0;
}

.button1:hover::after,
.button2:hover::after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}

.accordion-button {
  background-color: rgb(247, 235, 247); /* Change to your desired background color */
  color: Black; /* Change to your desired text color */
  padding: 15px;
  cursor: pointer;
}